Include ~/.orbstack/ssh/config

IdentityFile ~/.ssh/github_rsa
IdentityFile ~/.ssh/sharing_rsa

Host *
    ControlMaster auto
    ControlPath ~/.ssh/control:%h:%p:%r


# Host *
# 	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"